<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div id="venmo_container" style="display:flex; 
    align-self:center; 
    justify-self:center; 
    flex-direction:column; 
    background-color:rgb(0, 140, 255);
    margin:0px auto; 
    padding:5%; 
    max-width:50%;
    height:30%; 
    border-radius:5px; 
    margin-top:10%;">
        <img style="width:25%; 
        height:25%; 
        align-self:center;" src="/static/images/Venmo_Logo_White.png" class="image">
        <div style="display:flex; 
        flex-direction:row; 
        padding-top:5%;">
            <input style="width:100%;
            border-radius:5px;
            border:none; 
            padding:2%;" placeholder='Venmo Username' id="user_input" type="text"></input>
        </div>
        <button style="margin-top:5%;
        padding:2%; 
        border-radius:5px; 
        border:none;" id="submit_username">Submit</button>
    </div>
</body>
<script>
    let submitButton = document.getElementById("submit_username");
    let usernameInput = document.getElementById("user_input");
    let containerBg = document.getElementById("venmo_container");

    red = 0;
    green = 140;
    blue = 255;

    // red = 240;
    // green = red;
    // blue = green;

    submitButton.addEventListener("click", () => {
        let userRedirect = "/grab_items/" + usernameInput.value;
        let promiseSent = false;
        console.log(userRedirect);

        let colorChange = new Promise((resolve, reject)=>{
            setInterval(() => {
            if (red != 0) {
                red--;
            }

            if (green != 255) {
                green++;
            }

            if (blue != 140) {
                blue--;
            }

            containerBg.style.backgroundColor = "rgb(0," + green + "," + blue + ")";

            if(!promiseSent){
                resolve("Done");
                promiseSent = true;
            }
        }, 5)
        })

        colorChange.then(()=>{window.location.href = userRedirect;})
            
    })
</script>

</html>
