<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h2,h3 {
            font-family: 'Arial', Courier, monospace;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <div style="text-align: center; width: 65%; margin: 0 auto; background-color:#D0F1BF; border-radius:5px; padding:5%; margin-top: 5%;"></divstyle>
        <h2>Compartments have been unlocked.</h2>
        <h3>Please take what you want. </h3>
        <h3>Make sure to close all compartment lids, and then press "Finish" when done.</h3>
        <a href="/verify_items"><button id="finish_trans" style="padding:10px; width:100%; background-color: #9ABD97; border-radius: 5px; border:none; font-size: 20px;">Finish</button></a>
    </div>
</body>

</html>
